@model IEnumerable<VehicleDefinitonSummary>

<h1>Modeller</h1>

<div class="row">
    <div class="col-12 col-sm-8 col-md-6">
        <div class="text-end mb-2">
            <a asp-controller="VehicleDefinition" asp-action="Create" class="btn btn-primary btn-sm">Yeni Ekle</a>
        </div>
        <table class="table table striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Marka Adı</th>
                    <th>Model Adı</th>
                    <th>Yılı</th>
                    <th>Koltuk Sayısı</th>
                    <th>Tuvalet</th>
                    <th>Wifi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.VehicleMakeName</td>
                        <td>@item.VehicleModelName</td>
                        <td>@item.Year</td>
                        <td>@item.SeatCount</td>
                        <td>@item.HasToiletString</td>
                        <td>@item.HasWifiString</td>
                        <td>
                            <div class="btn-group">

                                <form method="post" asp-controller="VehicleDefinition" asp-action="Delete" class="d-inline">
                                <input type="hidden" name="Id" value="@item.Id" />
                                <button class="btn btn-link" >Sil</button>
                            </form>
                                @*@Html.ActionLink("Sil","Delete","VehicleModel", new {id=item.Id}) --> Bu yol html helpers *@
                                <a class="btn btn-warning d-inline-block ms-2" asp-controller="VehicleDefinition" asp-action="Edit" asp-route-id="@item.Id">Güncelle</a>


                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>




