@using ZaferTurizm.Dtos;
@model IEnumerable<VehicleDefinitionSummary>


<h1>Araç Tanımları</h1>

<div class="row">
    <div class="col-12 col-sm-8 ">
        <div class="text-end mb-2">
            <a asp-controller="VehicleDefinition" asp-action="Create" class="btn btn-primary btn-sm">Yeni Ekle</a>

        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Model Adı</th>
                    <th>Markası</th>
                    <th>Yılı</th>
                    <th>Koltuk Sayısı</th>
                    <th>WC</th>
                    <th>WİFİ</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vehicleDefinition in Model)
                {
                    <tr>
                        <td>@vehicleDefinition.Id</td>
                        <td>@vehicleDefinition.VehicleMakeName</td>
                        <td>@vehicleDefinition.VehicleModelName</td>
                        <td>@vehicleDefinition.Year</td>
                        <td>@vehicleDefinition.SeatCount</td>
                        <td>@vehicleDefinition.HasToiletString</td>
                        <td>@vehicleDefinition.HasWifiString</td>
                        <td>

                            <a asp-controller="VehicleDefinition" asp-action="Update" asp-route-id="@vehicleDefinition.Id">Düzenle</a>
                            <a href="#">Sil</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

